/* Background */
body {
    background: linear-gradient(#6498e6, #356aa2);
    margin-top: 0%; margin-left: 0%;
  }

  #head {
      color: rgb(13, 27, 48);
      margin-top: 5%;
      margin-left: 33%;
      margin-right: 33%;
      font-size: large;
  }


  /**/
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(13, 27, 48);
    width: 100%;
}

li {
    float: left;
}

li a {

    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: rgb(0, 47, 255);
}

.nav {
    background-color: rgb(0, 187, 255);
}

/* Actual resume */
#resume {
    height: 120em;
    width: 60em;
}

a {
    color: gold
}

/* Resume Text */
.resumeContainer {
    margin-left: 5%;
    margin-top: 3%;
}

#experience {
    margin-left: 10%;
    margin-bottom: 0%;
}

#contact {
    margin-left: 5%;
    margin-bottom: 5%;
}

#experience {
    margin-bottom: 3em;
}

/* Cover Letter */
#letter {
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 15%;
    padding-bottom: 5%;
}

/* Hide */
#hide {
    
    z-index: 5;
    cursor: pointer;
    margin-top: 10%;
    margin-left: 33%;
}

.close {
    
    font-size: 3em;
}

#x1 {
margin-left: 5%;
}

#x2 {

}

#hidden {
    display: none;
}

#message {
    margin-left: 15%;
    z-index: 5;
    display: inline;
}

/* Media Query */
@media screen and (max-width:100%) {
#head {
    margin-left: 0%;
}
}

 


  